---
import { marked } from 'marked';
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
            {hero.title && (
                <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">
                    Hello.
                    <br />
                    {hero.title}
                </h1>
            )}

            {hero.text && (
                <div class="max-w-none prose prose-dante sm:prose-lg" set:html={marked.parse(hero.text)}>
                    {hero.image?.src && (
                        <div class="float-start me-6">
                            <figure class="aspect-w-4 aspect-h-6 sm:aspect-w-16 sm:aspect-h-9 relative w-28 sm:w-44">
                                <img class="rounded-lg object-cover" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                                <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-black/10" />

                                {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
                            </figure>
                        </div>
                    )}
                </div>
            )}

            {hero.actions && hero.actions.length > 0 && (
                <div class="flex flex-wrap gap-4">
                    {hero.actions.map((action) => (
                        <Button href={action.href}>{action.text}</Button>
                    ))}
                </div>
            )}
        </section>
    )
}
